<!--Footer Section-->
<footer id="footer">
    <svg aria-hidden="true" viewBox="0 0 24 24" role="img" fill="black" width="24px" height="24px" class="text-light">
    <path stroke-width="1.5" d="M8.25 8.25V6a2.25 2.25 0 012.25-2.25h3a2.25 2.25 0 110 4.5H3.75v8.25a3.75 3.75 0 003.75 3.75h9a3.75 3.75 0 003.75-3.75V8.25H17.5M13.5 3L15 1.5M15 1.5L16.5 3M3 13.5L1.5 15M1.5 15L3 16.5M20.25 8.25L21.75 6M21.75 6L23.25 8.25M8.25 8.25L6 21.75M6 21.75L17.5 17.5M17.5 17.5L21.75 6M17.5 8.25V12"></path>
</svg>

</footer>



  <!-- <div class="row px-5 pt-5 ms-0 ms-lg-0 ms-xxl-5 col-12 d-flex justify-content-end" id="accordion">
    <div class="col-xxl-3 logo px-0 px-md-0 px-lg-5 col-xl-4 col-lg-4 col-md-6 col-12">
      <a class="navbar-brand text-light fs-3" href="index.html"><span>WE WEAR</span></a>
      <p class="text-light mt-3 para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab sed ex.
        Consequatur rerum ipsa amet?</p>
      <div class="row footer-icons mb-4 pb-1">
        <div class="col-3 col-sm-1 col-md-2"><a href="https://www.youtube.com/user/nike" class="nav-link"
            target="_blank"><i class="fa-brands fa-youtube"></i></a></div>
        <div class="col-3 col-sm-1 col-md-2"><a href="https://www.facebook.com/nike" class="nav-link"
            target="_blank"><i class="fa-brands fa-facebook-f"></i></a></div>
        <div class="col-3 col-sm-1 col-md-2"><a href="https://www.instagram.com/nike/" class="nav-link"
            target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="col-3 col-sm-1 col-md-2"><a href="https://twitter.com/Nike" class="nav-link" target="_blank"><i
              class="fa-brands fa-x-twitter"></i></a></div>
      </div>
      <hr class="d-block d-md-none">
    </div>
    <div
      class="d-md-block d-none col-xxl-3 footer-content-p col-xl-3 col-lg-3 col-md-3 ms-md-5 mt-md-0 mt-lg-0 ms-lg-0 px-0 px-md-5 mt-3 mt-md-0">
      <h4 class="mb-4">ABOUT WW</h4>
      <p><a href="#">Careers</a></p>
      <p><a href="#">News</a></p>
      <p><a href="#">Blog</a></p>
      <p><a href="#">Sustainability</a></p>
    </div>
    <div
      class="d-md-block d-none col-xxl-3 footer-content-p col-xl-3 col-lg-3 col-md-6 mt-md-5 mt-lg-0 ms-lg-0 px-0 px-md-5 mt-3 mt-md-0">
      <h4 class="mb-4">GET HELP</h4>
      <p><a href="#">Delivery</a></p>
      <p><a href="#">Returns</a></p>
      <p><a href="#">Order Status</a></p>
      <p><a href="#">Payment Options</a></p>
      <p><a href="#">Contact</a></p>
    </div>
    <div
      class="d-md-block d-none col-xxl-3 footer-content-p col-xl-2 ms-xxl-0 col-lg-2 col-md-3 ms-md-5 mt-md-5 mt-lg-0 ms-lg-0 px-0 px-md-5 mt-3 mt-md-0">
      <h4 class="mb-4">RESOURCES</h4>
      <p><a href="#">Our Work</a></p>
      <p><a href="#">Services</a></p>
      <p><a href="#">FAQ</a></p>
    </div>
    <div class="accordion d-block d-sm-none" id="accordionExample">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed px-0 mx-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ABOUT WW
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><a href="#">Careers</a></p>
            <p><a href="#">News</a></p>
            <p><a href="#">Blog</a></p>
            <p><a href="#">Sustainability</a></p>
            <hr class="d-flex d-md-none">
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed px-0 mx-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            GET HELP
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><a href="#">Delivery</a></p>
            <p><a href="#">Returns</a></p>
            <p><a href="#">Order Status</a></p>
            <p><a href="#">Payment Options</a></p>
            <p><a href="#">Contact</a></p>
            <hr class="d-flex d-md-none">
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed px-0 mx-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            RESOURCES
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><a href="#">Our Work</a></p>
            <p><a href="#">Services</a></p>
            <p><a href="#">FAQ</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-md-5 mt-none">
  <div class="footer-bottom ms-aut0 ms-md-0 me-0">
    <div class="row d-flex text-center justify-content-center">
      <div
        class="col-12 col-xl-6 col-md-12 d-flex ps-md-0 col-md-12 footer-bottom-left justify-content-center pe-xl-5">
        <p class="ms-0 ms-md-5 ms-xxl-0"><a href="#footer-bottom" class="nav-link"><i
              class="fa-solid fa-location-dot"></i> India &nbsp;&nbsp;&nbsp;&nbsp;</a></p>
        <div class="footer-content-p text-center justify-content-center d-flex">
          <p>© 2023 We Wear, Inc. All Rights Reserved</p>
          <p class="invisible d-none d-md-flex "><a href="https://iconscout.com/icons/puma"
              class="text-underline font-size-sm" target="_blank">Puma</a> by <a
              href="https://iconscout.com/contributors/icon-54" class="text-underline font-size-sm"
              target="_blank">Icon 54</a></p>
        </div>
      </div>
      <div
        class="col-12 col-xl-6 col-md-11 ms-md-5 ms-xl-0 ms-lg-5 d-flex justify-content-center footer-content-p d-none d-md-flex">
        <p><a href="#" class="mx-md-1 px-md-2">Guides</a></p><span class="text-secondary"
          style="font-size: 13.5px;">|</span>
        <p><a href="#" class="mx-md-1 px-md-2">Terms of Use</a></p><span class="text-secondary"
          style="font-size: 13.5px;">|</span>
        <p><a href="#" class="mx-md-1 px-md-2">Terms of Sale</a></p><span class="text-secondary"
          style="font-size: 13.5px;">|</span>
        <p><a href="#" class="mx-md-1 ps-md-3">Privacy Policy</a></p>
      </div>
      <div
        class="col-12 col-xl-6 col-md-12 ms-md-5 ms-xl-0 ms-lg-5 d-flex justify-content-center footer-content-p d-flex d-md-none">
        <p class="mx-1 ps-md-3">Designed By ~ Rajendra Oad</p>
      </div>
    </div>
  </div> -->
