<section id="nav-bar" class="sticky-top">
  <div class="small-nav-bar d-flex d-lg-none">
    <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-6 logo">
          <a class="navbar-brand select-none fw-bold fs-5" style="letter-spacing: 5px;" routerLink="/home">WE WEAR</a>
        </div>
        <div class="col-6 logo justify-content-end d-flex">
          <button class="navbar-toggler col-1 p-0 select-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#demo1">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg py-1 px-2 d-none d-lg-flex logo">
    <a class="navbar-brand ms-4 col-md-9 d-lg-flex col-7 col-lg-1 select-none" href="index.html">WE WEAR</a>
    <a
      class="nav-link select-none d-flex d-lg-none cursor col-2 col-md-1 d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-magnifying-glass text-dark"></i>
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav underline ms-auto">
        <li class="nav-item middle-items nav-item-1">
          <a class="nav-link py-3 px-3 nav-link-1" href="#">New & Featured</a>
          <div class="d-content">
            <div class="row item-1">
              <div class="col">
                <h4>New & Featured</h4>
                <a href="#">New Arrival</a>
                <a href="#">Latest News</a>
                <a href="#">Latest Clothing</a>
                <a href="#">Sneakers</a>
                <a href="#">Get 'Em in SNKRS'</a>
                <a href="#">Customise with WW Bt You</a>
                <a href="#">Member Exclusive</a>
                <a href="#">Bestsellers</a>
                <a href="#">Top Kick Under &#8377;8000.00</a>
              </div>
              <div class="col">
                <h4>Shop</h4>
                <a href="#">Air Force 1</a>
                <a href="#">Air Jordan 1</a>
                <a href="#">Superstar Shoes</a>
                <a href="#">Formu Low Shoes</a>
                <a href="#">Web Boost Shoes</a>
                <a href="#">Mayze Crashed PRM</a>
                <a href="#">Clyde OG 75Y PRM</a>
              </div>
              <div class="col">
                <h4>New For Men</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Women</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Kids</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3" href="#">Men</a>
          <div class="d-content ">
            <div class="row col-12 item-1">
              <div class="col">
                <h4>New & Featured</h4>
                <a href="#">New Arrival</a>
                <a href="#">Latest News</a>
                <a href="#">Latest Clothing</a>
                <a href="#">Sneakers</a>
                <a href="#">Get 'Em in SNKRS'</a>
                <a href="#">Customise with WW Bt You</a>
                <a href="#">Member Exclusive</a>
                <a href="#">Bestsellers</a>
                <a href="#">Top Kick Under &#8377;8000.00</a>
              </div>
              <div class="col">
                <h4>Shop</h4>
                <a href="#">Air Force 1</a>
                <a href="#">Air Jordan 1</a>
                <a href="#">Superstar Shoes</a>
                <a href="#">Formu Low Shoes</a>
                <a href="#">Web Boost Shoes</a>
                <a href="#">Mayze Crashed PRM</a>
                <a href="#">Clyde OG 75Y PRM</a>
              </div>
              <div class="col">
                <h4>New For Men</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Women</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Kids</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3" href="#">Women</a>
          <div class="d-content ">
            <div class="row col-12 item-1">
              <div class="col">
                <h4>New & Featured</h4>
                <a href="#">New Arrival</a>
                <a href="#">Latest News</a>
                <a href="#">Latest Clothing</a>
                <a href="#">Sneakers</a>
                <a href="#">Get 'Em in SNKRS'</a>
                <a href="#">Customise with WW Bt You</a>
                <a href="#">Member Exclusive</a>
                <a href="#">Bestsellers</a>
                <a href="#">Top Kick Under &#8377;8000.00</a>
              </div>
              <div class="col">
                <h4>Shop</h4>
                <a href="#">Air Force 1</a>
                <a href="#">Air Jordan 1</a>
                <a href="#">Superstar Shoes</a>
                <a href="#">Formu Low Shoes</a>
                <a href="#">Web Boost Shoes</a>
                <a href="#">Mayze Crashed PRM</a>
                <a href="#">Clyde OG 75Y PRM</a>
              </div>
              <div class="col">
                <h4>New For Men</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Women</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Kids</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3 d-block" href="#">Kids</a>
          <div class="d-content ">
            <div class="row col-12 item-1">
              <div class="col">
                <h4>New & Featured</h4>
                <a href="#">New Arrival</a>
                <a href="#">Latest News</a>
                <a href="#">Latest Clothing</a>
                <a href="#">Sneakers</a>
                <a href="#">Get 'Em in SNKRS'</a>
                <a href="#">Customise with WW Bt You</a>
                <a href="#">Member Exclusive</a>
                <a href="#">Bestsellers</a>
                <a href="#">Top Kick Under &#8377;8000.00</a>
              </div>
              <div class="col">
                <h4>Shop</h4>
                <a href="#">Air Force 1</a>
                <a href="#">Air Jordan 1</a>
                <a href="#">Superstar Shoes</a>
                <a href="#">Formu Low Shoes</a>
                <a href="#">Web Boost Shoes</a>
                <a href="#">Mayze Crashed PRM</a>
                <a href="#">Clyde OG 75Y PRM</a>
              </div>
              <div class="col">
                <h4>New For Men</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Women</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Kids</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3 d-block d-xl-block d-md-none" href="#">Sale</a>
          <div class="d-content ">
            <div class="row col-12 item-1">
              <div class="col">
                <h4>New & Featured</h4>
                <a href="#">New Arrival</a>
                <a href="#">Latest News</a>
                <a href="#">Latest Clothing</a>
                <a href="#">Sneakers</a>
                <a href="#">Get 'Em in SNKRS'</a>
                <a href="#">Customise with WW Bt You</a>
                <a href="#">Member Exclusive</a>
                <a href="#">Bestsellers</a>
                <a href="#">Top Kick Under &#8377;8000.00</a>
              </div>
              <div class="col">
                <h4>Shop</h4>
                <a href="#">Air Force 1</a>
                <a href="#">Air Jordan 1</a>
                <a href="#">Superstar Shoes</a>
                <a href="#">Formu Low Shoes</a>
                <a href="#">Web Boost Shoes</a>
                <a href="#">Mayze Crashed PRM</a>
                <a href="#">Clyde OG 75Y PRM</a>
              </div>
              <div class="col">
                <h4>New For Men</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Women</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
              <div class="col">
                <h4>New For Kids</h4>
                <a href="#">Shoes</a>
                <a href="#">Clothing</a>
                <a href="#">Accessories</a>
                <a href="#">Shop All New</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3 d-block d-xl-block d-md-none" href="#">Customize</a>
        </li>
        <li class="nav-item middle-items">
          <a class="nav-link py-3 px-3 d-block d-xl-block d-md-none" href="#">SNKRS</a>
        </li>
      </ul>
      <nav class="icon-circle select-none">
        <ul class="navbar-nav d-none d-md-none d-lg-flex align-items-center ms-md-0 ps-xl-4 ms-xl-5">
          <form class="d-flex position-relative d-xl-flex" role="search">
            <input class=" form-control rounded-pill border-0 ps-5" type="search" placeholder="Search"
              aria-label="Search" id="search-bar">
            <a class="nav-link position-absolute inside-search"><i
                class="fa-solid fa-magnifying-glass text-dark"></i></a>
          </form>
          <li class="nav-item">
            <a class="nav-link fs-5"><i class="fa-solid fa-heart text-dark"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fs-5" href="#" data-bs-toggle="offcanvas" data-bs-target="#demo">
              <i class="fa fa-shopping-bag text-dark" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</section>