<div class="border-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center py-2 fw-medium col d-none">
                <p>Save Up to 40%</p>
                 <span class="text-decoration-underline">Shop All Our New Markdowns</span>   
            </div>
            <div class="text-center py-2 col col">
                <h6 class="fw-normal">Move, Shop, Customise & Celebrate With Us.</h6>
                    <span>No matter what you feel like doing today, It’s better as a Member.</span>
                    
                    <span class="text-decoration-underline pt-3 d-block fw-medium">Join Us</span>  
            </div>
        </div>
    </div>
</div>
