.container-fluid-block {
    padding: 0 35px;
}

#banner .img-content-container h1 {
    font-family: var(--font-family-primary);
    font-size: 90px;
    line-height: 75px;
}

#banner .banner-img a {
    text-decoration: none;
    color: var(--black);
}

@media (max-width: 768px) {
    .container-fluid-block {
        padding: 0 10px;
    }
}