<section id="top-nav-bar" class="select-none d-none d-lg-block">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-6 me-auto">
                <div class="col-left">
                    <img src="assets/images/shoes.png" alt="" style="width: 25px;">
                </div>
            </div>
            <div class="col-6 ">
                <div class="top-right d-flex justify-content-end">
                    <a href="#" class="px-3 text-fliud ">
                        <span>Any Help</span>
                    </a> <span class="line">|</span>
                    <a href="#" class="px-3 text-fliud"><span>Help</span></a> <span class="line">|</span>
                    <a href="#" class="px-3 text-fliud"><span>Join Now</span></a> <span class="line">|</span>
                    <a href="login.html" class="px-3 text-fliud"><span>Log In</span></a>
                </div>
            </div>
        </div>
    </div>
</section>